body {
    background-image: url('./images/1.png'); /* Укажите путь к картинке */
    background-size: cover; /* Масштабирует, чтобы покрыть весь экран */
    background-position: center; /* Центрирует картинку */
    background-repeat: no-repeat; /* Картинка не повторяется */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}